@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'LXGW WenKai Mono TC', monospace;
  font-weight: 400;
  font-style: normal;

  max-width: 1280px;
  margin: 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  --main-bgc: #f6f4efff;
  --l-tan: #ebdac4ff;
  --m-tan: #e6d0b2ff;
  --d-tan: #e4c8a2ff;
  --l-green: #cae4daff;
  --m-green: #b0cdc2ff;
  --d-green: #8eb8a8ff;
  --l-rose: #edd6d6ff;
  --m-rose: #e8c4c4ff;
  --d-rose: #dba6a6ff;
}

.section {
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 20px;
}

.section h1 {
  font-family: 'Courgette', cursive;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 900px) {
  #root {
    padding: 1rem 0;
  }
  .app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section {
    width: 90%;
    margin-bottom: 1rem;
  }
}

