#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

  --main-bgc: #f6f4efff;
  --l-tan: #ebdac4ff;
  --m-tan: #e6d0b2ff;
  --d-tan: #e4c8a2ff;
  --l-green: #cae4daff;
  --m-green: #b0cdc2ff;
  --d-green: #8eb8a8ff;
  --l-rose: #edd6d6ff;
  --m-rose: #e8c4c4ff;
  --d-rose: #dba6a6ff;
}

#selfie {
  height: 250px;
}

header {
  /* background-image: url('src/assets/Colorful-Pastel-Modern-Banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px; */
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header h1,
p {
  height: fit-content;
  margin: 0px;
}

.carousel-items-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.carousel-item img {
  width: 30%;
  height: auto;
}

.about-me-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.all-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
  background-color: var(--l-rose);
  border: 3px solid var(--d-rose);
  border-radius: 20px;
  width: 90%;
  margin-bottom: 2vh;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-image {
  width: 90%;
  height: auto;
}
.project-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.contact-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 600px) {
  .app-container {
    width: 100vw;
  }
  .section {
    width: 90vw;
  }

  header {
    /* background-image: url('src/assets/cropped-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carousel-item {
    width: fit-content;
  }
  .carousel-item img {
    width: 25px;
    height: 25px;
  }

  .about-me-section {
    display: flex;
    flex-direction: column;
  }
  .all-projects-container {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    width: 90%;
    margin-bottom: 2vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-image {
    width: 90%;
    height: auto;
  }
  .project-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .project-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
  }
}
