:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: var(--main-bgc);
  /* background-image: url('src/assets/Colorful-Pastel-Modern-Banner.png');
  background-repeat: no-repeat;
  background-position: top left; */

  --main-bgc: #f6f4efff;
  --l-tan: #ebdac4ff;
  --m-tan: #e6d0b2ff;
  --d-tan: #e4c8a2ff;
  --l-green: #cae4daff;
  --m-green: #b0cdc2ff;
  --d-green: #8eb8a8ff;
  --l-rose: #edd6d6ff;
  --m-rose: #e8c4c4ff;
  --d-rose: #dba6a6ff;
}

.app-container {
  margin: 0px;
}

/* @media (max-width: 600px) {
  :root {
    background-image: url('src/assets/cropped-banner.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
} */
